* {
  transition: all .1s ease-in-out;
  outline-color: #333;
  box-sizing: border-box;
}

path, svg {
  transition: none;
}

body, ul, li, p,
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', Arial, sans-serif;
  transition: none;
  padding-bottom: 70px;
}

ul, li {
  display: block;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  color: #333;
}

h1 {
  font-size: 36px;
  line-height: 1.2;
}

h5 {
  font-size: 20px;
}

div, span, section,
form, button, a, ul, li,
h1, h2, h3, h4, h5, h6 {
  box-sizing: border-box;
}

a, a:hover {
  text-decoration: none;
  transition: all .15s ease;
}

button {
  border: none;
  background: transparent;
  cursor: pointer;
  font-family: inherit;
}

.container {
  padding: 0 15px;
  margin: 0 auto;
}

.breadcrumb {
  background: transparent;
  padding: 0;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 0;
  display: flex;
  margin-top: 16px;
}

.breadcrumb-item a {
  color: #333;
}

.breadcrumb-item a:hover {
  color: #1a66ff;
}

.breadcrumb-arrow {
  fill: #d1d1d1;
  padding: 0 10px;
}

.breadcrumb-item.active {
  color: #999;
}

.shop-area__title {
  padding-top: 6px;
}

.catalog {
  display: flex;
  padding-top: 30px;
}

.auth-block {
  padding: 50px 0;
  display: flex;
  form {
    width: 250px;
  }
  .social-login {
    margin-top: 41px;
    margin-left: 30px;
  }
  .card-title {
    font-weight: 700;
    color: #333;
    margin-bottom: 12px;
    display: inline-block;
    font-size: 24px;
  }
  .input-field {
    position: relative;
    input {
      width: 100%;
      margin-bottom: 8px;
      padding: 4px 4px 3px;
      box-sizing: border-box;
    }
  }
  .dark-btn {
    background-color: #333;
    color: #fff;
    padding: 6px 15px 7px;
    border-radius: 2px;
    &:disabled {
      background-color: #f0f0f0;
      color: #bcbcbc;
      cursor: default;
    }
  }
  .card-action {
    padding-top: 12px;
  }
  .invalid-feedback {
    color: red;
    font-size: 12px;
    margin-bottom: 12px;
  }
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media screen and (max-width: 992px) {
  .header__nav,
  .site-header__phone {
    display: none;
  }
  .header__gamburger {
    display: block;
  }
}
