<div class="shop-area__sorts-area">
  <div class="shop-area__sorts">
    <div class="shop-area__sort-by">
      <span>Sort By</span>
      <select
        (change)="setSelectOption($event, 'order')"
        class="shop-area__select controls"
      >
        <option *ngFor="let order of orders" value="{{order.value}}">
          {{ order.label }}
        </option>
      </select>
    </div>
    <div class="shop-area__show">
      <span>Per page</span>
      <select
        (change)="setSelectOption($event, 'pageSize')"
        class="shop-area__select controls"
      >
        <option *ngFor="let sort of sorts" value="{{ sort.value }}">
          {{ sort.label }}
        </option>
      </select>
    </div>
  </div>
</div>
