<section class="shop-area" id="shop-area">
  <div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a routerLink="/">
            <span>Home</span>
          </a>
          <svg xmlns="http://www.w3.org/2000/svg" width="6" height="9" class="breadcrumb-arrow">
            <path d="M.4 8.8c-.4-.4-.5-1-.1-1.4l3-2.9-3-2.9C-.1 1.2-.1.5.4.2c.4-.3.9-.3 1.3.1L6 4.5 1.6 8.7c-.3.4-.9.4-1.2.1z"></path>
          </svg>
        </li>
        <li class="breadcrumb-item active">Power Tools</li>
      </ol>
    </nav>
    <h1 class="shop-area__title">Power Tools</h1>
    <div class="catalog">
      <div class="shop-area__catalog-area">
        <app-sorts
          [setSelectOption]="setSelectOption"
        ></app-sorts>
        <app-catalog [products$]="products$" ></app-catalog>
        <div id="shop-area__pagination"></div>
      </div>
    </div>
  </div>
</section>
